<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
        <table class="">
                <thead>
                        <tr class="table-primary">
                                <th scope="col" style="background-color: #4adb40; padding: 30px;">Intitulée de formation en cours </th>
                                <th scope="col">Nom de formateur</th>
                                <th scope="col" style="background-color: #4adb40; padding: 30px;">Date de formation</th>
                                <th scope="col">Progression</th>
                                <th scope="col" style="background-color: #4adb40; padding: 30px;">Validation</th>
                            </tr>
                    </thead>
                <tbody>
                        <tr>
                                <th scope="row">Microsft azure</th>

                                <td>Mr ALAMOU</td>

                                <td>06-02-2020</td>

                                <td>

                                        <div class="cols-sm-4"></div>

                                        <div class="col-sm-4">

                                                <img width="20 " alt="formateur " src="assets\formateur.jpg"  />

                                            </div>

                                        <div class="cols-sm-4"></div>

                                    </td>

                                <td>
                                        <div class="form-check form-switch">

                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>

                                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>

                                            </div>
                                    </td>
                            </tr>
                        <tr class="table-primary">
                                <th scope="row">Power BI</th>
                                <td>Mr BANKA</td>
                                <td>06-05-2021</td>
                                <td>
                                        <div class="cols-sm-4"></div>
                                        <div class="col-sm-4">
                                                <img width="20 " alt="formateur " src="assets\formateur.jpg"  />
                                            </div>
                                        <div class="cols-sm-4"></div>
                                    </td>
                                <td>

                                        <div class="form-check form-switch">

                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>

                                                <label class="form-check-label" for="flexSwitchCheckDisabled"></label>

                                            </div>

                                    </td>

                            </tr>



                    </tbody>

            </table>