<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>
<div class="img1">
    <img src="/assets/img1cotedroitetop.png">
</div>
<div class="container">
    <div class="row text-center">
        <form action="">
            <div class="mb-3">
                <br><br><br><br><br>
                <input type="text" id="fname" name="firstname" placeholder="Entrez votre email">
            </div>
            <div class="mb-3">
                <input type="text" id="lname" name="lastname" placeholder="mot de passe">
            </div>
            <input type="submit" value="Se connecter">
        </form>
    </div>
</div>