<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>
<div class="img1">
    <img src="/assets/img1cotedroitetop.png">
</div>
<div class="container">
    <div class="row text-center">
        <form action="">
            <div class="mb-3">
                <br><br><br><br>
                <input type="text" id="nom" name="nom" placeholder="Nom">
            </div>
            <div class="mb-3">
                <input type="text" id="prenom" name="prenom" placeholder="Prenom">
            </div>
            <div class="mb-3">
                <input type="text" id="tele" name="tele" placeholder="Telephone">
            </div>
            <div class="mb-3">
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="password" id="mdp" name="mdp" placeholder="mot de passe">
            </div>
            <input type="submit" value="Valider">
        </form>
    </div>
</div>